*{
  --primary-color: #001233;
  --secondary-color: #1a439c;
  --add-color: #37354e;
  --font-color: #FFFFFF;
  margin: 0;
  --general-margin:15px; /*Top and left*/  
  --focus-color:#bb86FC; 
}

body{
    color: var(--font-color);
  
    cursor:url(cursor/lightsabercs/normal.cur),auto;
}



.grid{
  width:100%;
  min-height:100vh;
  display:grid;
  grid-template-columns: 220px minmax(250px, 1fr);
  grid-template-rows: 130px 1fr;
  grid-template-areas:
    "sd hd"
    "sd main"  
}

h3{
    font-size: 16px;
}





/*==============================
            SIDEBAR
==============================*/


.sidebar{
    background-color: var(--primary-color);
    grid-area: sd;
  }

.sidebar-grid{
  margin-top: 20px;
  display:grid;
  grid-template-rows: repeat(10, 1fr);
  gap:10px;
  margin-left: 10px;

}

span, 
span.material-icons,
span.material-icons-outlined{ 
  display:inline;
  font-size:24px;
}

.sidelink,
.logo {
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: flex-start;
  padding:4px;
  
}

.sidebar-desc{
  font-size: 22px;
  margin-left:var(--general-margin)
}

button{
  width:95%;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


button:hover,
button:focus,
article span:hover {
  background-color: var(--focus-color);
  border-radius:10px;
}

article span{
  padding: 5px;
}

/*==============================
            HEADER
==============================*/



    /*==============================
            FLEX UPPER
    =============================*/
.flex-up{
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-left{
    width: 50%;
    display: grid;
    grid-template-columns: 30px minmax(100px,200px);
}

.flex-right{

    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.logo{
  margin-bottom:15px;
  margin-left:0;
  padding-left:0;
  background-color: darkblue;
  font-weight: 900;
  display:flex;
  justify-content:center;
}
input[type="search"]{
    appearance:none;
    height:20px;
    border-radius:10px;
    background-color:lightgray;
  }
  
  input[type="search"]:hover,
  input[type="search"]:focus {
    box-shadow: 0 0 15px #bb86FC;
  }
  
  
   .user-logo-small{
    width:40px;
    height:40px;
    margin-left: 20px;
    border-radius: 20px;
  }
  .user-img{
    object-fit:cover;
    height:100%;
    border-radius: 20px;
  
  }

  .big{
    border-radius: 30px;
  
  }
  .user-img:hover,
  .user-img:focus{
    opacity:0.6;
    border:1px
  }

  .flex-right button{
    width: 30px;
  }

  .icon{
    position: relative;
  }
.icon::after{
    position: absolute;
    top:10px;
    width: 10px;
    height: 10px;
    background-color: red;
    z-index:2;
  }

  
  
    /*==============================
            FLEX DOWN
    =============================*/
    .flex-down{
        box-sizing: border-box;
        padding: 30px 10px 0 10px;
        max-width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-logo-big{
        width:60px;
        height:60px;
        grid-area: logo;

      }
      .text-small{
        font-size:12px;
        align-self: flex-end;
      }
      

      .flex-down-left{
        display: grid;
        grid-template-columns: 80px 140px;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: 
            "logo p"
            "logo p";
      }

      .flex-down-right{
        display: flex;
        gap: 10px;
      }

      .big-btn{
        background-color: var(--focus-color);
        font-weight: 900;
        font-size:20px;
        border-radius: 15px;
        width:100px;
        height: 30px;
      }

   .big-btn:focus,  .big-btn:hover{
        border-radius: 15px;
        border: 2px solid var(--primary-color);
        opacity: 0.8;
      }


      .small-btn{
        background-color: var(--focus-color);
        font-weight: 900;
        font-size:20px;
        border-radius: 20px;
        width:40px;
        height: 40px;
      }

      .small-btn:focus,  .small-btn:hover{
        border-radius: 20px;
        border: 2px solid var(--primary-color);
        opacity: 0.8;
      }
      p.text-big{
        width: 220px;
      }

     




.header{
    
  background-color: var(--add-color);
    grid-area:hd;
}

/*==============================
            MAIN
==============================*/


.main{
  background-color: var(--secondary-color);
  min-height: 100%;
  grid-area:main;
  display: grid;
  grid-template-rows: 50px 1fr;
 

}

article{
    background-color: #001233;
    padding: 20px;
    border-left: 7px solid var(--focus-color);
    border-radius: 10px;
    display: grid;
    gap:15px;
    grid-template-rows: 40px 1fr 35px;
}

.article-down{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}


button:hover{
    cursor:url(cursor/lightsabercs/normal.cur),auto;
}

title{
    color: white;
    z-index: 4;
    grid-area: title;
}

.main-subgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:35px;
    margin: 0 20px 30px 35px;
}

h2{
    margin-left: 35px;
    margin-top: 15px;
}

.wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
    /*==============================
      ADDITIONAL SUBGRID
    ==============================*/

    .add-subgrid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap:25px;
        margin: 0 35px 30px 20px;
        align-items: start;
    }

    .add-subgrid h2{
        margin-left: 0;
    }
    .add-subgrid article{
        border: 4px solid var(--add-color);
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .line{
        width: 90%;
        border-top: 1px solid var(--add-color);
        margin: auto;
    }

    article:hover{
        opacity: 0.8;
    }
    
    /*==============================
      Top Users
    ==============================*/

.top-users{
 
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:10px;
    align-items: center;
    justify-items: start;
    margin-left: 10px;
   
}

.user{
    display: flex;
    align-items: center;
}


.user span{
    font-size: 16px;
    margin-left: 15px;
   justify-self: start;
   
}

.top-users span .text-em{
    font-size:20px;
}

img:hover{
    cursor:url(cursor/lightsabercs/darthmaulnormal.cur),auto;
}

/*==============================
      MEDIA QUERIES
==============================*/

@media (max-width: 600px) {
  .grid{
    grid-template-columns: 50px minmax(250px, 1fr);
    grid-template-rows: 90px 1fr;
  }
  .flex-down{
    padding-top: 0px;
    height: 35px;
    justify-content: center;
  }
  .small-btn{
    height: 30px;
    width: 30px;
    border-radius: 15px;
   
  }


  .logo,
  .sidebar-desc,
  .user-name{
    display:none;
  }
  span.material-icons,
span.material-icons-outlined{
  font-size: 32px;
}
  .sidelink,
  .logo{
    justify-content:center;
    margin-left:0;
    padding-left:0;
  }
  .sidebar-grid{
    margin-left:0;
  }
  .header span{
  font-size:22px;
}
.flex-down-left{
    display: none;
}
}

@media (max-width: 900px) {

    .big-btn{
        display: none;
    }
    .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(270px,1fr))
    }
}

@media (min-width: 901px) {

    .small-btn{
        display: none;
    }
}

@media (hover: hover) {
    .user-img:hover {
      background-color: hotpink;
    }
}